@keyframes backgroundChange {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.animated-background {
  background: linear-gradient(-45deg, #1d2c41, #b7c9d9, #4fa3f0, #22131a);
  background-size: 400% 400%;
  animation: backgroundChange 20s ease-in-out infinite;
  color: #fff;
}
